.threeup {
  margin: 60px 0;

  h1 {
    @include title;

    padding: 0 50px;
    margin: 0 0 36px;
    text-align: center;

    @media (min-width: $sm) {
      margin: 0 0 60px;
    }

    @media (min-width: $md) {
      margin: 0 0 75px;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    position: relative;

    @media (min-width: $xs) {
      padding: 0 25px;
    }

    @media (min-width: $sm) {
      flex-direction: row;
      justify-content: space-between;
      min-height: 605px;
      padding: 0 40px;
    }

    @media (min-width: $md) {
      min-height: 962px;
      padding: 0 50px;
    }

    @media (min-width: $lg) {
      min-height: 1000px;
    }

    @media (min-width: $xl) {
      min-height: 1240px;
    }

    &::before {
      background: $navy;
      content: '';
      height: 70%;
      left: 0;
      position: absolute;
      top: 22%;
      width: 100%;
      z-index: -1;

      @media (min-width: $xs) {
        height: 75%;
        top: 17%;
      }

      @media (min-width: $sm) {
        height: 500px;
        left: -50px;
        right: -50px;
        transform: translateY(-50%);
        top: 50%;
        width: auto;
      }
      @media (min-width: $md) {
        height: 537px;
      }
      @media (min-width: $lg) {
        height: 785px;
      }
      @media (min-width: $xl) {
        height: 905px;
      }

      @media (min-width: $xxl) {
        height: 1105px;
      }
    }
  }

  article {
    display: flex;
    flex-direction: column;
    max-width: 239px;
    width: 100%;

    @media (min-width: $xs) {
      max-width: 347px;
    }

    @media (min-width: $sm) {
      margin-right: 40px;
      max-width: 202px;
    }

    @media (min-width: $md) {
      max-width: 281px;
    }
  
    @media (min-width: $lg) {
      margin-right: 50px;
      max-width: 333px;
    }

    @media (min-width: $xl) {
      max-width: 413px;
    }

    @media (min-width: $xxl) {
      max-width: 620px;
    }

    &:hover {
      .threeup__image {
        &::after {
          opacity: 1;
        }
      }
    }

    &:first-child {
      * {
        color: $black;

        @media (min-width: $sm) {
          color: $white;
        }
      }

      @media (min-width: $sm) {
        margin-bottom: 0;
        margin-top: auto;
      }

      @media (min-width: $md) {
        margin-bottom: 120px;
      }

      @media (min-width: $lg) {
        margin-bottom: auto;
      }
    }

    &:last-child {
      @media (min-width:$sm) {
        margin: auto 0 0 0;
      }

      @media (min-width:$md) {
        margin-bottom: 120px;
      }

      @media (min-width:$lg) {
        margin-bottom: 0;
      }
    }

    &:nth-child(2n) {
      margin-left: auto;
      
      @media (min-width: $sm) {
      flex-direction: column-reverse;
      margin-bottom: auto;
      margin-left: 0;
      }

      .threeup__image {
        &::after {
          @media (min-width: $sm) {
            bottom: -30%;
            left: auto;
            right: -20px;
            top: auto;
            transform: rotate(0);
          }

          @media (min-width: $sm) {
            bottom: -50%;
            right: -25px;
          }
        }
      }

      .threeup__content {
        margin-top: 30px;
      }
    }
  }

  &__content {
    padding: 0 25px;
    margin:30px 0 40px;
    position: relative;
    z-index: 1;

    @media (min-width:$xs) {
      padding: 0;
    }

    @media (min-width: $sm) {
      margin-top: 0;
    }

    h2,
    p,
    a {
      color: $white;
      margin: 0 0 6px 0;
    }

    h2 {
      font-size: 21px;
      line-height: 130%;

      @media (min-width: $xs) {
        font-size: 30px;
      }

      @media (min-width: $sm) {
        font-size: 25px;
      }

      @media (min-width: $lg) {
        font-size: 28px;
      }
    }

    p {
      font-size: 16px;
      font-weight: $font-normal;
      line-height: 140%;
    }

    a {
      background-image: linear-gradient(to right,$orange 0,$orange 100%);
      background-position: 0 100%;
      background-repeat: repeat-x;
      background-size: 100% 2px;
      display: inline;
      font-size: 16px;
      font-weight: $font-bold;
      line-height: 120%;
      position: relative;

      &:hover {
        box-shadow: inset 0 -8px 0 $yellow;
      }
    }
  }

  &__image {
      height: 319px;
      position: relative;
      width: 100%;

      @media (min-width: $xs) {
        height: 520.5px;
      }

      @media (min-width: $sm) {
        height: 303px;
      }

      @media (min-width: $md) {
        height: 421.5px;
      }

      @media (min-width: $lg) {
        height: 499.5px;
      }

      @media (min-width: $xl) {
        height: 619px;
      }

      @media (min-width: $xxl) {
        height: 850px;
      }

    &:before {
      content: '';
      display: block;
      height: 0;
      padding-top: 150%;
      width: 0;
    }

    &::after {
      content: none;

      @media (min-width: $sm) {
        background: url('../../src/img/arrow-up-orange.svg') center center no-repeat;
        background-size: contain;
        content: '';
        display: block;
        height: 45%;
        left: -20px;
        opacity: 0;
        position: absolute;
        top: -25%;
        transform: rotate(180deg);
        transition: $transition;
        width: 80%;
      }

      @media (min-width: $md) {
        background-size: cover;
        height: 415px;
        left: -25px;
        top: -50%;
        width: 418px;
      }
    }

    img {
      height: 100%;
      left: 0;
      object-fit: cover;
      object-position: center;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}