// Site Variables
//

// Colors
$black: #090015;
$white: #fff;
$orange: #e36f1e;
$yellow: #f4b223;
$navy: #1c1d30;


// Transitions
$transition: 0.3s ease;

// Screen sizes
// Mobile
$xs: 576px;

// Tablet
$sm: 768px;

// Desktop
$md: 1024px;

// Large Desktop
$lg: 1200px;

// Extra Large Desktop
$xl: 1440px;

// Extra Extra Large Desktop
$xxl: 1600px;