/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;400;500;700&family=Merriweather:wght@300;400;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #090015;
  font-family: "Fira Sans Condensed", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 700;
}

a {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Fira Sans Condensed", Helvetica Neue, Helvetica, Arial, sans-serif;
  padding-top: 65px;
}

img {
  display: block;
  max-width: 100%;
}

section {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.threeup {
  margin: 60px 0;
}

.threeup h1 {
  font-size: 68px;
  line-height: 103%;
  color: #090015;
  font-family: "Fira Sans Condensed", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 700;
  padding: 0 50px;
  margin: 0 0 36px;
  text-align: center;
}

@media (min-width: 768px) {
  .threeup h1 {
    font-size: 86px;
  }
}

@media (min-width: 1200px) {
  .threeup h1 {
    font-size: 116px;
    line-height: 105%;
  }
}

@media (min-width: 1440px) {
  .threeup h1 {
    font-size: 134px;
  }
}

@media (min-width: 768px) {
  .threeup h1 {
    margin: 0 0 60px;
  }
}

@media (min-width: 1024px) {
  .threeup h1 {
    margin: 0 0 75px;
  }
}

.threeup__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

@media (min-width: 576px) {
  .threeup__items {
    padding: 0 25px;
  }
}

@media (min-width: 768px) {
  .threeup__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 605px;
    padding: 0 40px;
  }
}

@media (min-width: 1024px) {
  .threeup__items {
    min-height: 962px;
    padding: 0 50px;
  }
}

@media (min-width: 1200px) {
  .threeup__items {
    min-height: 1000px;
  }
}

@media (min-width: 1440px) {
  .threeup__items {
    min-height: 1240px;
  }
}

.threeup__items::before {
  background: #1c1d30;
  content: '';
  height: 70%;
  left: 0;
  position: absolute;
  top: 22%;
  width: 100%;
  z-index: -1;
}

@media (min-width: 576px) {
  .threeup__items::before {
    height: 75%;
    top: 17%;
  }
}

@media (min-width: 768px) {
  .threeup__items::before {
    height: 500px;
    left: -50px;
    right: -50px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    top: 50%;
    width: auto;
  }
}

@media (min-width: 1024px) {
  .threeup__items::before {
    height: 537px;
  }
}

@media (min-width: 1200px) {
  .threeup__items::before {
    height: 785px;
  }
}

@media (min-width: 1440px) {
  .threeup__items::before {
    height: 905px;
  }
}

@media (min-width: 1600px) {
  .threeup__items::before {
    height: 1105px;
  }
}

.threeup article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 239px;
  width: 100%;
}

@media (min-width: 576px) {
  .threeup article {
    max-width: 347px;
  }
}

@media (min-width: 768px) {
  .threeup article {
    margin-right: 40px;
    max-width: 202px;
  }
}

@media (min-width: 1024px) {
  .threeup article {
    max-width: 281px;
  }
}

@media (min-width: 1200px) {
  .threeup article {
    margin-right: 50px;
    max-width: 333px;
  }
}

@media (min-width: 1440px) {
  .threeup article {
    max-width: 413px;
  }
}

@media (min-width: 1600px) {
  .threeup article {
    max-width: 620px;
  }
}

.threeup article:hover .threeup__image::after {
  opacity: 1;
}

.threeup article:first-child * {
  color: #090015;
}

@media (min-width: 768px) {
  .threeup article:first-child * {
    color: #fff;
  }
}

@media (min-width: 768px) {
  .threeup article:first-child {
    margin-bottom: 0;
    margin-top: auto;
  }
}

@media (min-width: 1024px) {
  .threeup article:first-child {
    margin-bottom: 120px;
  }
}

@media (min-width: 1200px) {
  .threeup article:first-child {
    margin-bottom: auto;
  }
}

@media (min-width: 768px) {
  .threeup article:last-child {
    margin: auto 0 0 0;
  }
}

@media (min-width: 1024px) {
  .threeup article:last-child {
    margin-bottom: 120px;
  }
}

@media (min-width: 1200px) {
  .threeup article:last-child {
    margin-bottom: 0;
  }
}

.threeup article:nth-child(2n) {
  margin-left: auto;
}

@media (min-width: 768px) {
  .threeup article:nth-child(2n) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: auto;
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .threeup article:nth-child(2n) .threeup__image::after {
    bottom: -30%;
    left: auto;
    right: -20px;
    top: auto;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@media (min-width: 768px) {
  .threeup article:nth-child(2n) .threeup__image::after {
    bottom: -50%;
    right: -25px;
  }
}

.threeup article:nth-child(2n) .threeup__content {
  margin-top: 30px;
}

.threeup__content {
  padding: 0 25px;
  margin: 30px 0 40px;
  position: relative;
  z-index: 1;
}

@media (min-width: 576px) {
  .threeup__content {
    padding: 0;
  }
}

@media (min-width: 768px) {
  .threeup__content {
    margin-top: 0;
  }
}

.threeup__content h2,
.threeup__content p,
.threeup__content a {
  color: #fff;
  margin: 0 0 6px 0;
}

.threeup__content h2 {
  font-size: 21px;
  line-height: 130%;
}

@media (min-width: 576px) {
  .threeup__content h2 {
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .threeup__content h2 {
    font-size: 25px;
  }
}

@media (min-width: 1200px) {
  .threeup__content h2 {
    font-size: 28px;
  }
}

.threeup__content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.threeup__content a {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #e36f1e), to(#e36f1e));
  background-image: linear-gradient(to right, #e36f1e 0, #e36f1e 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 100% 2px;
  display: inline;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  position: relative;
}

.threeup__content a:hover {
  -webkit-box-shadow: inset 0 -8px 0 #f4b223;
          box-shadow: inset 0 -8px 0 #f4b223;
}

.threeup__image {
  height: 319px;
  position: relative;
  width: 100%;
}

@media (min-width: 576px) {
  .threeup__image {
    height: 520.5px;
  }
}

@media (min-width: 768px) {
  .threeup__image {
    height: 303px;
  }
}

@media (min-width: 1024px) {
  .threeup__image {
    height: 421.5px;
  }
}

@media (min-width: 1200px) {
  .threeup__image {
    height: 499.5px;
  }
}

@media (min-width: 1440px) {
  .threeup__image {
    height: 619px;
  }
}

@media (min-width: 1600px) {
  .threeup__image {
    height: 850px;
  }
}

.threeup__image:before {
  content: '';
  display: block;
  height: 0;
  padding-top: 150%;
  width: 0;
}

.threeup__image::after {
  content: none;
}

@media (min-width: 768px) {
  .threeup__image::after {
    background: url("../../src/img/arrow-up-orange.svg") center center no-repeat;
    background-size: contain;
    content: '';
    display: block;
    height: 45%;
    left: -20px;
    opacity: 0;
    position: absolute;
    top: -25%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .threeup__image::after {
    background-size: cover;
    height: 415px;
    left: -25px;
    top: -50%;
    width: 418px;
  }
}

.threeup__image img {
  height: 100%;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  top: 0;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */